.custom-image {
    width: 300px; 
    height: 500px; 
  }
  .teeth {
    width: 300px; 
    height: auto; 
  }

  .tooth {
    width: 300px;
    height: 400px;
  }
  
  .tooth1 {
    width: 300px;
    height: 400px;
  }
  
  .tooth2 {
    width: 300px;
    height: 400px;
  }
  
  .tooth3 {
    width: 300px;
    height: 400px;
  }
  
  .tooth4 {
    width: 300px;
    height: 400px;
  }
  
  .tooth5 {
    width: 300px;
    height: 400px;
  }

 