
<script src="assets/js/plugins/swiper-bundle.min.js"></script>


<!-- Slider Section Start -->
<div class="slider-section slider-active section">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Single Slider Start -->
        <div
          class="swiper-slide animation-style-01 single-slider d-flex align-items-center"
          style="background-image: url(assets/images/Default_Create_modern_dental_clinic_images_devoid_of_any_text_1.jpg)">
          <div class="container">
            <!-- Slider Content Start -->
            
            <div class="slider-content">
              <h6 class="sub-title">Chirurgien Dentiste</h6>
              <h1 class="main-title">
                This life style for your fitness, not only diet.
              </h1>
              <p>It has survived not only five centuries but also</p>
              <a href="#" class="btn btn-primary btn-hover-secondary"
                >Start Course</a
              >
            </div>
            <!-- Slider Content End -->
          </div>

          <!-- Slider Social Start -->
          <div class="slider-social">
            <div class="container">
              <div class="social-wrapper">
                <p>Connect with us:</p>
                <ul class="social">
                  <li>
                    <a href="#"><i class="icofont-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Slider Social End -->
        </div>
        <!-- Single Slider End -->

        <!-- Single Slider Start -->
        <div
          class="swiper-slide animation-style-01 single-slider d-flex align-items-center"
          style="background-image: url(assets/images/Default_Create_modern_dental_clinic_images_devoid_of_any_text_1.jpg)">
          <div class="container">
            <!-- Slider Content Start -->
            <div class="slider-content">
              <h6 class="sub-title">Fitness & Nutrition</h6>
              <h1 class="main-title">
                This life style for your fitness, not only diet.
              </h1>
              <p>It has survived not only five centuries but also</p>
              <a href="#" class="btn btn-primary btn-hover-secondary"
                >Start Course</a
              >
            </div>
            <!-- Slider Content End -->
          </div>

          <!-- Slider Social Start -->
          <div class="slider-social">
            <div class="container">
              <div class="social-wrapper">
                <p>Connect with us:</p>
                <ul class="social">
                  <li>
                    <a href="#"><i class="icofont-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Slider Social End -->
        </div>
        <!-- Single Slider End -->

        <!-- Single Slider Start -->
        <div 
          class="swiper-slide animation-style-01 single-slider d-flex align-items-center"
          style="background-image: url(assets/images/dentist/Default_befors_and_after_a_traitement_dentaire_1.jpg)">
          <div class="container">
            <!-- Slider Content Start -->
            <div class="slider-content">
              <h6 class="sub-title">Fitness & Nutrition</h6>
              <h1 class="main-title">
                This life style for your fitness, not only diet.
              </h1>
              <p>It has survived not only five centuries but also</p>
              <a href="#" class="btn btn-primary btn-hover-secondary"
                >Start Course</a
              >
            </div>
            <!-- Slider Content End -->
          </div>

          <!-- Slider Social Start -->
          <div class="slider-social">
            <div class="container">
              <div class="social-wrapper">
                <p>Connect with us:</p>
                <ul class="social">
                  <li>
                    <a href="#"><i class="icofont-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icofont-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Slider Social End -->
        </div>
        <!-- Single Slider End -->
      </div>
    </div>
  </div>
  <!-- Slider Section End -->






  










  <!-- Features Section Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="features-wrapper">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!-- Single Feature Start -->
            <div class="single-feature">
              <div class="feature-icon">
                <span><i class="flaticon-lunges"></i></span>
              </div>
              <div class="feature-content">
                <div class="content-wrapper">
                  <h4 class="title"><a href="#">Patient Care</a></h4>
                  <p>
                    Our patient management solutions streamline administrative tasks and
                    enhance communication, allowing you to focus on delivering top-quality
                    dental care tailored to each patient's individual needs.
                  </p>
                </div>
                <a href="#" class="arrow"
                  ><i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- Single Feature End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Feature Start -->
            <div class="single-feature active">
              <div class="feature-icon">
                <span><i class="flaticon-lotus"></i></span>
              </div>
              <div class="feature-content">
                <div class="content-wrapper">
                  <h4 class="title"><a href="#">Treatment Planning</a></h4>
                  <p>
                    Our treatment planning tools empower you to create customized treatment
                    plans and collaborate seamlessly with your team to ensure optimal
                    outcomes for each patient.
                  </p>
                </div>
                <a href="#" class="arrow"
                  ><i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- Single Feature End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Feature Start -->
            <div class="single-feature">
              <div class="feature-icon">
                <span><i class="flaticon-computer"></i></span>
              </div>
              <div class="feature-content">
                <div class="content-wrapper">
                  <h4 class="title"><a href="#">Team Coordination</a></h4>
                  <p>
                    Our staff management solutions optimize scheduling, streamline
                    workflows, and facilitate efficient communication among your dental
                    team, ensuring smooth operations in your practice.
                  </p>
                </div>
                <a href="#" class="arrow"
                  ><i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- Single Feature End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Section End -->

  <!-- About Section Start -->
  <div class="section section-padding bg-grey overflow-hidden">
    <div class="container">
      <!-- About Wrapper Start -->
      <div class="about-wrapper">
        <div class="row align-items-center gx-xxl-5">
          <div class="col-lg-5">
            <!-- About Images Start -->
            <div class="about-images">
              <img
                src="assets/images/shape/shape-2.png"
                alt="shape"
                class="shape" />
              <div class="images">
                <img class="custom-image"  src="assets/images/Default_dentiste_dans_son_cabinet_3 (1).jpg" alt="About" />
              </div>
              <div class="about-btn">
                <a href="#" class="btn btn-primary btn-hover-secondary"
                  >Meet Instructor</a
                >
              </div>
            </div>
            <!-- About Images End -->
          </div>
          <div class="col-lg-7">
            <!-- About Content Start -->
            <div class="about-content bg-white">
              <img
                class="shape"
                src="assets/images/shape/shape-1.png"
                alt="shape" />
              <div class="content-wrapper">
                <h6 class="sub-title">years of experience</h6>
                <h2 class="main-title">
                  We have expert instructor for help our customers.
                </h2>
                <p>
                  Our team of experienced dentists and specialists is committed to providing
                  top-quality dental care tailored to your individual needs. With years of
                  expertise in the field, we ensure that each patient receives personalized
                  attention and comprehensive treatment solutions.
                </p>
                <span class="count"> There's a plethora of treatments available here...  </span>
                <p>
                  From routine cleanings and preventive care to advanced restorative and
                  cosmetic treatments, we offer a wide range of services to address all your
                  dental needs. Our goal is to help you achieve and maintain a healthy,
                  beautiful smile that lasts a lifetime.
                </p>
              </div>
            </div>
            <!-- About Content End -->
          </div>
        </div>
      </div>
      <!-- About Wrapper End -->
    </div>
  </div>
  <!-- About Section End -->

  <!-- Courses Section Start -->
  <div class="section section-padding">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section-title">
        <h6 class="sub-title"> "Find your way here" </h6>
        <h2 class="main-title">Dental Operations Hub & Care </h2>
      </div>
      <!-- Section Title End -->

      <!-- Courses Wrapper Start -->
      <div class="courses-wrapper">
        <div class="row gx-xxl-5">
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a routerLink="/courses-details/courses-details-left-sidebar"
                  ><img class="tooth"
                    src="assets/images/dentist/Default_dentiste_fait_un_traitement_pour_un_patient_dans_un_ca_0 (1).jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">By: <a href="#">Your Name</a></p>
                  <h4 class="title">
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      >"Dental Harmony: Crafting Confident Smiles"  </a>
                  </h4>
                 <!-- <ul class="meta">
                    <li>08 hr 20 mins</li>
                    <li>28 Lectures</li>
                  </ul> -->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a href="courses-details-left-sidebar.html"
                  ><img class="tooth1"
                    src="assets/images/dentist/Default_befors_and_after_a_traitement_dentaire_1.jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">
                    By:
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      >Your Name</a
                    >
                  </p>
                  <h4 class="title">
                    <a href="#">  Dental Care Navigator: Simplifying Smiles  </a>
                  </h4>
                 <!-- <ul class="meta">
                    <li>09 hr 25 mins</li>
                    <li>16 Lectures</li>
                  </ul>-->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a routerLink="/courses-details/courses-details-left-sidebar">
                  <img class= "tooth2" src="assets/images/dentist/Default_team_of_doctor_and_assistants_of_dentist_cabinet_1.jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">By: <a href="#">Your Name</a></p>
                  <h4 class="title">
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      >Dental Team Harmony: Orchestrating Practice Performance </a
                    >
                  </h4>
                 <!--- <ul class="meta">
                    <li>03 hr 38 mins</li>
                    <li>18 Lectures</li>
                  </ul> -->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a routerLink="/courses-details/courses-details-left-sidebar"
                  ><img class="tooth3"
                    src="assets/images/dentist/Default_dentiste_fait_un_traitement_pour_un_patient_dans_un_ca_5.jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">By: <a href="#">Your Name</a></p>
                  <h4 class="title">
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      > Dental Inventory Nexus: Streamlining Supplies Management  </a>
                  </h4>
                 <!-- <ul class="meta">
                    <li>02 hr 16 mins</li>
                    <li>14 Lectures</li>
                  </ul> -->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a routerLink="/courses-details/courses-details-left-sidebar"
                  ><img class="tooth4"
                    src="assets/images/dentist/Default_dashbord_analyse_et_raport_2 (2).jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">By: <a href="#">Your Name</a></p>
                  <h4 class="title">
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      > Dental Insights: Your Practice's Command Center </a
                    >
                  </h4>
                 <!-- <ul class="meta">
                    <li>06 hr 12 mins</li>
                    <li>35 Lectures</li>
                  </ul>-->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Courses Start -->
            <div class="single-courses">
              <div class="courses-images">
                <a routerLink="/courses-details/courses-details-left-sidebar"
                  ><img class="tooth5"
                    src="assets/images/dentist/Default_factures_de_paiement_1.jpg"
                    alt="courses"
                /></a>
              </div>
              <div class="courses-content">
                <div class="courses-price">
                  <span class="price">$</span>
                </div>
                <div class="content-wrapper">
                  <p class="author">By: <a href="#">Your Name</a></p>
                  <h4 class="title">
                    <a routerLink="/courses-details/courses-details-left-sidebar"
                      >DentalEase  Simplifying Billing and Payments</a
                    >
                  </h4>
                  <!-- <ul class="meta">
                    <li>09 hr 34 mins</li>
                    <li>28 Lectures</li>
                  </ul>-->
                </div>
              </div>
            </div>
            <!-- Single Courses End -->
          </div>
        </div>
      </div>
      <!-- Courses Wrapper End -->
    </div>
  </div>
  <!-- Courses Section End -->

  <!-- Testimonial Section Start -->
  <div
    class="section section-padding testimonial-section testimonial-active">
    <img
      class="shape-01 animation-down"
      src="assets/images/shape/shape-5.png"
      alt="Shape" />
    <img
      class="shape-02 animation-up"
      src="assets/images/shape/shape-6.png"
      alt="Shape" />

    <div class="container">
      <!-- Section Title Start -->
      <div class="section-title section-title-white">
        <h6 class="sub-title">happy Patients</h6>
        <h2 class="main-title">What Client Say About Us</h2>
      </div>
      <!-- Section Title End -->

      <!-- Testimonial Wrapper End -->
      <div class="testimonial-wrapper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Single Testimonial Start -->
            <div class="single-testimonial swiper-slide">
              <div class="testimonial-author">
                <img
                  src="assets/images/author/author-01.jpg"
                  alt="Author" />
                <i class="flaticon-left-quote"></i>
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing typesetting
                industry has been the industry's standard dummy text ever
                ince the 1500s when unknown printer took a galley of type
                and scrambled it to
              </p>
              <h4 class="name">Pollock Austin</h4>
              <span class="designation">UI/UX DESIGNER</span>
            </div>
            <!-- Single Testimonial End -->

            <!-- Single Testimonial Start -->
            <div class="single-testimonial swiper-slide">
              <div class="testimonial-author">
                <img
                  src="assets/images/author/author-02.jpg"
                  alt="Author" />
                <i class="flaticon-left-quote"></i>
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing typesetting
                industry has been the industry's standard dummy text ever
                ince the 1500s when unknown printer took a galley of type
                and scrambled it to
              </p>
              <h4 class="name">Pollock Austin</h4>
              <span class="designation">UI/UX DESIGNER</span>
            </div>
            <!-- Single Testimonial End -->

            <!-- Single Testimonial Start -->
            <div class="single-testimonial swiper-slide">
              <div class="testimonial-author">
                <img
                  src="assets/images/author/author-03.jpg"
                  alt="Author" />
                <i class="flaticon-left-quote"></i>
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing typesetting
                industry has been the industry's standard dummy text ever
                ince the 1500s when unknown printer took a galley of type
                and scrambled it to
              </p>
              <h4 class="name">Pollock Austin</h4>
              <span class="designation">UI/UX DESIGNER</span>
            </div>
            <!-- Single Testimonial End -->
          </div>
        </div>
      </div>
      <!-- Testimonial Wrapper End -->
    </div>

    <div class="arrow">
      <div class="swiper-button-next">
        <i class="fa fa-long-arrow-right"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa fa-long-arrow-left"></i>
      </div>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <!-- Brand Section Start -->
  <div class="section section-padding-02 overflow-hidden">
    <div class="container">
      <!-- Brand Wrapper Start -->
      <div class="brand-wrapper">
        <img
          class="shape"
          src="assets/images/shape/shape-12.png"
          alt="Shape" />

        <!-- Section Title Start -->
        <div class="section-title shape-none">
          <h6 class="sub-title">Work With Trusted Brand</h6>
          <h2 class="main-title">We Have 8,00+ Trusted Partners.</h2>
          <p>Printing and typesetting standard dummy text ever since</p>
        </div>
        <!-- Section Title End -->

        <!-- Brand Logo Wrapper Start -->
        <div class="brand-logo-wrapper brand-active">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- Single Brand Start -->
                <div class="single-brand">
                  <img
                    class="brand"
                    src="assets/images/brand/brand-1-1.png"
                    alt="Brand" />
                  <img
                    class="brand-hover"
                    src="assets/images/brand/brand-2-1.png"
                    alt="Brand" />
                </div>
                <!-- Single Brand End -->
              </div>

              <div class="swiper-slide">
                <!-- Single Brand Start -->
                <div class="single-brand">
                  <img
                    class="brand"
                    src="assets/images/brand/brand-1-2.png"
                    alt="Brand" />
                  <img
                    class="brand-hover"
                    src="assets/images/brand/brand-2-2.png"
                    alt="Brand" />
                </div>
                <!-- Single Brand End -->
              </div>

              <div class="swiper-slide">
                <!-- Single Brand Start -->
                <div class="single-brand">
                  <img
                    class="brand"
                    src="assets/images/brand/brand-1-3.png"
                    alt="Brand" />
                  <img
                    class="brand-hover"
                    src="assets/images/brand/brand-2-3.png"
                    alt="Brand" />
                </div>
                <!-- Single Brand End -->
              </div>

              <div class="swiper-slide">
                <!-- Single Brand Start -->
                <div class="single-brand">
                  <img
                    class="brand"
                    src="assets/images/brand/brand-1-4.png"
                    alt="Brand" />
                  <img
                    class="brand-hover"
                    src="assets/images/brand/brand-2-4.png"
                    alt="Brand" />
                </div>
                <!-- Single Brand End -->
              </div>

              <div class="swiper-slide">
                <!-- Single Brand Start -->
                <div class="single-brand">
                  <img
                    class="brand"
                    src="assets/images/brand/brand-1-5.png"
                    alt="Brand" />
                  <img
                    class="brand-hover"
                    src="assets/images/brand/brand-2-5.png"
                    alt="Brand" />
                </div>
                <!-- Single Brand End -->
              </div>
            </div>
          </div>
        </div>
        <!-- Brand Logo Wrapper End -->
      </div>
      <!-- Brand Wrapper End -->
    </div>
  </div>
  <!-- Brand Section End -->

  <!-- Blog Section End -->
  <div class="section section-padding-02">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section-title">
        <h6 class="sub-title">Our Management </h6>
        <h2 class="main-title"> Latest Updates </h2>
      </div>
      <!-- Section Title End -->

      <!-- Blog Wrapper Start -->
      <div class="blog-wrapper">
        <div class="row gx-xxl-5">
          <div class="col-lg-4">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog">
                <div class="blog-date-meta">
                  <span>
                    <strong></strong>
                    
                  </span>
                  <div class="meta">
                    <p class="author">By: <a href="#">Your Name </a></p>
                  <!--  <ul>
                      <li>87 Likes</li>
                      <li>58 Share</li>
                    </ul> -->
                  </div>
                </div>

                <h4 class="title">
                  <a routerLink="/blog-details/blog-details-left-sidebar"
                    >Patient Management Updates</a
                  >
                </h4>
                <p>
                  Stay informed about the latest patient management strategies
                  and techniques to ensure optimal care and satisfaction.
                </p>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog">
                <div class="blog-date-meta">
                  <span>
                    <strong></strong>
                    
                  </span>
                  <div class="meta">
                    <p class="author">By: <a href="#">Your Name  </a></p>
                   <!-- <ul>
                      <li>87 Likes</li>
                      <li>58 Share</li>
                    </ul>-->

                  </div>
                </div>

                <h4 class="title">
                  <a routerLink="/blog-details/blog-details-left-sidebar"
                    >Staff Management Updates</a
                  >
                </h4>
                <p>
                  Discover the latest insights and best practices for effective
                  staff management and team collaboration in your dental practice.
                </p>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog">
                <div class="blog-date-meta">
                  <span>
                    <strong></strong>
                    
                  </span>
                  <div class="meta">
                    <p class="author">By: <a href="#">Your Name  </a></p>
                   <!-- <ul>
                      <li>87 Likes</li>
                      <li>58 Share</li>
                    </ul>-->
                  </div>
                </div>

                <h4 class="title">
                  <a routerLink="/blog-details/blog-details-left-sidebar"
                    >Treatment Management Updates</a
                  >
                </h4>
                <p>
                  Explore the latest advancements and techniques in treatment
                  management to deliver superior dental care to your patients.
                </p>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
        </div>
      </div>
      <!-- Blog Wrapper End -->
    </div>
  </div>
  <!-- Blog Section End -->.

  <!-- Download Section Start -->
  <div class="section section-padding">
    <div class="container">
      <!-- Download Wrapper Start -->
      <div class="download-wrapper">
        <img
          class="shape-01"
          src="assets/images/shape/shape-7.png"
          alt="Shape" />
        <img
          class="shape-02"
          src="assets/images/shape/shape-8.png"
          alt="Shape" />

        <!-- Section Title Start -->
        <div class="section-title shape-none">
          <h6 class="sub-title">mobile app available</h6>
          <h2 class="main-title">
            Download our mobile <br />
            app. and You can begin managing your dental practice at any time...        .
          </h2>
        </div>
        <!-- Section Title End -->

        <!-- download App End -->
        <div class="download-app">
          <ul>
            <li>
              <a href="#"
                ><img src="assets/images/play-store.jpg" alt="Play Store"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="assets/images/app-store.jpg" alt="App Store"
              /></a>
            </li>
          </ul>
        </div>
        <!-- download App End -->
      </div>
      <!-- Download Wrapper End -->
    </div>
  </div>
  <!-- Download Section End -->