<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">BLog Post</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Blog Post Section Start -->
<div class="section section-padding-02">
    <div class="container">

        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row flex-row-reverse gx-xxl-5">
                <div class="col-lg-8">

                    <!-- Blog Wrapper Start -->
                    <div class="blog-wrapper-03">
                        <div class="row gx-xxl-5">
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">It was popularised sheets the release contain</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerlink="/blog-details/blog-details-left-sidebar"> I want to show you how to live healthily and have..</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Thriving, not just surviving is invincible, so we all</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">It was popularised sheets the release contain</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">As you follow my blog you will be given advice</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Health, wellbeing, recipes and shortcuts to make</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Lots of energy and to feel like you are really</a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                            <div class="col-md-6">

                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <div class="blog">
                                        <div class="blog-date-meta">
                                            <span>
                <strong>24</strong>
                Feb
            </span>
                                            <div class="meta">
                                                <p class="author">By: <a href="#">Maddie Rife</a></p>
                                                <ul>
                                                    <li>87 Likes</li>
                                                    <li>58 Share</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <h4 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Need to look after ourselves and that means physical </a></h4>
                                        <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                    </div>
                                </div>
                                <!-- Single Blog End -->

                            </div>
                        </div>
                    </div>
                    <!-- Blog Wrapper End -->

                    <!-- Page Pagination End -->
                    <div class="page-pagination">
                        <ul class="pagination justify-content-center">
                            <li><a href="#"><i class="icofont-rounded-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- Page Pagination End -->

                </div>
                <div class="col-lg-4">

                    <!-- Blog Sidebar Start -->
                    <div class="sidebar">

                        <!-- Sidebar Widget Search Start -->
                        <div class="sidebar-widget widget-search">
                            <form action="#">
                                <input type="text" placeholder="Search here">
                                <button><i class="icofont-search-1"></i></button>
                            </form>
                        </div>
                        <!-- Sidebar Widget Search End -->

                        <!-- Sidebar Widget Category Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Post Category</h4>

                            <div class="widget-category">
                                <ul class="category-list">
                                    <li><a href="#">UI/UX Design <span>(16)</span></a></li>
                                    <li><a href="#">Creative Writing <span>(03)</span></a></li>
                                    <li><a href="#">Graphic Design <span>(08)</span></a></li>
                                    <li><a href="#">Fine Arts <span>(18)</span></a></li>
                                    <li><a href="#">Business Analytics <span>(02)</span></a></li>
                                    <li><a href="#">Marketing <span>(14)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Category End -->

                        <!-- Sidebar Widget Post Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Recent Post</h4>

                            <div class="widget-post">
                                <ul class="post-items">
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-02.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Create Amazing Color Schemes Design</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-03.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Data Science Machine Learning with Python</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-04.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Leadership: Strategies for Business</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-05.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Illustrating Badges & Geometric Shapes</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Post End -->

                        <!-- Sidebar Widget Tags Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Popular Tags</h4>

                            <div class="widget-tags">
                                <ul class="tags-list">
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Tags End -->

                        <!-- Sidebar Widget Share Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Share Course:</h4>

                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-skype"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <!-- Sidebar Widget Share End -->

                    </div>
                    <!-- Blog Sidebar End -->

                </div>
            </div>
        </div>
        <!-- Blog Wrapper End -->

    </div>
</div>
<!-- Blog Post Section End -->

<!-- Download Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Download Wrapper Start -->
        <div class="download-wrapper">

            <img class="shape-01" src="assets/images/shape/shape-7.png" alt="Shape">
            <img class="shape-02" src="assets/images/shape/shape-8.png" alt="Shape">

            <!-- Section Title Start -->
            <div class="section-title shape-none">
                <h6 class="sub-title">mobile app available</h6>
                <h2 class="main-title">Download our mobile <br> app. and start coaching anytime.</h2>
            </div>
            <!-- Section Title End -->

            <!-- download App End -->
            <div class="download-app">
                <ul>
                    <li><a href="#"><img src="assets/images/play-store.jpg" alt="Play Store"></a></li>
                    <li><a href="#"><img src="assets/images/app-store.jpg" alt="App Store"></a></li>
                </ul>
            </div>
            <!-- download App End -->

        </div>
        <!-- Download Wrapper End -->

    </div>
</div>
<!-- Download Section End -->
