 <!-- Courses Admin Start -->
 <div class="section overflow-hidden position-relative" id="wrapper">

    <!-- Sidebar Wrapper Start -->
    <div class="sidebar-wrapper">
        <div class="menu-list">
            <a class="active" routerLink="/pages/courses-admin"><img src="assets/images/menu-icon/icon-1.png" alt="Icon"></a>
            <a routerLink="/pages/messages"><img src="assets/images/menu-icon/icon-2.png" alt="Icon"></a>
            <a routerLink="/pages/overview"><img src="assets/images/menu-icon/icon-3.png" alt="Icon"></a>
            <a routerLink="/pages/engagement"><img src="assets/images/menu-icon/icon-4.png" alt="Icon"></a>
            <a routerLink="/pages/traffic-conversion"><img src="assets/images/menu-icon/icon-5.png" alt="Icon"></a>
        </div>
    </div>
    <!-- Sidebar Wrapper End -->

    <div class="page-content-wrapper py-0">

        <!-- Admin Tab Menu Start -->
        <div class="nav flex-column nav-pills admin-tab-menu">
            <a class="active" routerLink="/pages/messages">Question & Answer <span>3</span></a>
            <a routerLink="/pages/messages">Featured Question</a>
            <a routerLink="/pages/messages">Message <span>4</span></a>
            <a routerLink="/pages/messages">Assigment’s</a>
            <a routerLink="/pages/messages">Announcement’s</a>
        </div>
        <!-- Admin Tab Menu End -->

        <!-- Page Content Wrapper Start -->
        <div class="main-content-wrapper pb-0">
            <div class="container-fluid">

                <!-- Admin Top Bar Start -->
                <div class="admin-top-bar flex-wrap">

                    <div class="top-bar-filter">
                        <ul class="filter-check">
                            <li>
                                <div class="courses-select">
                                    <select>
                                        <option data-display="All Courses">All Courses</option>
                                        <option value="1">option</option>
                                        <option value="2">option</option>
                                        <option value="3">option</option>
                                        <option value="4">Potato</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <input type="checkbox" id="unread">
                                <label for="unread"><span></span> Unread (2)</label>
                            </li>
                            <li>
                                <input type="checkbox" id="answer1">
                                <label for="answer1"><span></span> No Top Answer</label>
                            </li>
                            <li>
                                <input type="checkbox" id="answer2">
                                <label for="answer2"><span></span> No Answer</label>
                            </li>
                            <li>
                                <input type="checkbox" id="answer3">
                                <label for="answer3"><span></span> No Instructor Answer</label>
                            </li>
                        </ul>
                    </div>

                    <div class="top-bar-filter-right">
                        <div class="newest-select">
                            <select>
                                <option data-display="Newest First">Newest First</option>
                                <option value="1">Oldest First</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Admin Top Bar End -->

                <!-- Question & Answer End -->
                <div class="question-answer">

                    <div class="row">
                        <div class="col-xl-4">
                            <!-- Answer User List Start -->
                            <div class="answer-user-list">

                                <!-- Single User Start -->
                                <div class="single-user active">
                                    <div class="user-author">
                                        <img src="assets/images/author/author-12.jpg" alt="Author">
                                    </div>
                                    <div class="user-content">
                                        <h6 class="name">Natosha Sibley</h6>
                                        <p>Woolentor and woocommerce</p>
                                    </div>
                                    <span class="time">02 days ago</span>
                                </div>
                                <!-- Single User End -->

                                <!-- Single User Start -->
                                <div class="single-user">
                                    <div class="user-author">
                                        <img src="assets/images/author/author-13.jpg" alt="Author">
                                    </div>
                                    <div class="user-content">
                                        <h6 class="name">Alison Hunter</h6>
                                        <p>Woolentor and woocommerce</p>
                                    </div>
                                    <span class="time">02 days ago</span>
                                </div>
                                <!-- Single User End -->

                                <!-- Single User Start -->
                                <div class="single-user">
                                    <div class="user-author">
                                        <img src="assets/images/author/author-14.jpg" alt="Author">
                                    </div>
                                    <div class="user-content">
                                        <h6 class="name">Mabel Alvarez</h6>
                                        <p>Woolentor and woocommerce</p>
                                    </div>
                                    <span class="time">02 days ago</span>
                                </div>
                                <!-- Single User End -->

                                <!-- Single User Start -->
                                <div class="single-user">
                                    <div class="user-author">
                                        <img src="assets/images/author/author-15.jpg" alt="Author">
                                    </div>
                                    <div class="user-content">
                                        <h6 class="name">Preston Farmer</h6>
                                        <p>Woolentor and woocommerce</p>
                                    </div>
                                    <span class="time">02 days ago</span>
                                </div>
                                <!-- Single User End -->

                            </div>
                            <!-- Answer User List End -->
                        </div>
                        <div class="col-xl-8">

                            <!-- Answer Message Wrapper Start -->
                            <div class="answer-message-wrapper">

                                <ul>
                                    <li>
                                        <!-- Single Message Start -->
                                        <div class="single-message">
                                            <div class="message-author">
                                                <div class="author-images">
                                                    <img src="assets/images/author/author-12.jpg" alt="Author">
                                                </div>
                                                <div class="author-content">
                                                    <h6 class="name"><strong>Natosha Sibley</strong> <span class="time">Asked: March 28, 2021</span></h6>
                                                    <h4 class="title">How do the online demos and trial downloads differ?</h4>
                                                </div>
                                                <div class="meta">
                                                    <span class="view"><i class="icofont-eye-alt"></i> 526 Views</span>
                                                    <a class="answer" href="#"><i class="icofont-ui-messaging"></i> Answer</a>
                                                </div>
                                            </div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make specimen book has survived not only five centuries.</p>
                                        </div>
                                        <!-- Single Message End -->

                                        <ul class="message-replay">
                                            <li>
                                                <!-- Single Message Start -->
                                                <div class="single-message">
                                                    <div class="message-author">
                                                        <div class="author-images">
                                                            <img src="assets/images/author/author-16.jpg" alt="Author">
                                                        </div>
                                                        <div class="author-content">
                                                            <h6 class="name"><strong>Ashley Reeves</strong> <span class="instructor">Instructor</span></h6>
                                                            <span class="time">Added answer: March 28, 2021</span>
                                                        </div>
                                                        <div class="meta">
                                                            <a class="answer" href="#"><i class="icofont-ui-messaging"></i> Answer</a>
                                                        </div>
                                                    </div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text ever since the 1500s when an unknown printer took a galley of type and scram specimen book has survived not only five centuries.</p>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text ever since the 1500s when an unknown printer took a galley of type and scram specimen book has survived not only five centuries.</p>
                                                </div>
                                                <!-- Single Message End -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <!-- Single Message Start -->
                                        <div class="single-message">
                                            <div class="message-author">
                                                <div class="author-images">
                                                    <img src="assets/images/author/author-12.jpg" alt="Author">
                                                </div>
                                                <div class="author-content">
                                                    <h6 class="name"><strong>Natosha Sibley</strong></h6>
                                                    <span class="time">Replied to answer: March 28, 2021</span>
                                                </div>
                                                <div class="meta">
                                                    <a class="answer" href="#"><i class="icofont-ui-messaging"></i> Answer</a>
                                                </div>
                                            </div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make specimen book has survived not only five centuries.</p>
                                        </div>
                                        <!-- Single Message End -->
                                    </li>
                                </ul>

                                <button class="loadmore">Loard more 22 answer</button>

                                <form action="#">
                                    <div class="message-form">
                                        <div class="auhtor">
                                            <img src="assets/images/author/author-16.jpg" alt="Author">
                                        </div>
                                        <div class="message-input">
                                            <textarea placeholder="Post a public answer"></textarea>

                                            <div class="message-btn">
                                                <button class="btn btn-light btn-hover-secondary">Cancel</button>
                                                <button class="btn btn-secondary btn-hover-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- Answer Message Wrapper End -->

                        </div>
                    </div>

                </div>
                <!-- Question & Answer End -->

            </div>
        </div>
        <!-- Page Content Wrapper End -->

    </div>

</div>
<!-- Courses Admin End -->
