<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">BLog Details</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/blog/blog-right-sidebar">Blog</a></li>
                <li class="breadcrumb-item active">Blog Details</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Blog Post Section Start -->
<div class="section section-padding-02">
    <div class="container">

        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row gx-xxl-5 flex-row-reverse">
                <div class="col-lg-8">

                    <!-- Blog Details Wrapper Start -->
                    <div class="blog-details-wrapper">

                        <div class="details-images">
                            <img src="assets/images/blog/blog-details.jpg" alt="Blog Details">
                        </div>

                        <div class="blog-details-admin-meta">
                            <div class="author">
                                <div class="author-thumb">
                                    <a href="#"><img src="assets/images/author/author-01.jpg" alt="Author"></a>
                                </div>
                                <div class="author-name">
                                    <p class="name">By: <a href="#">Ryan Patterson</a></p>
                                </div>
                            </div>
                            <div class="blog-meta">
                                <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                <span> <i class="icofont-heart"></i> 2,568+ </span>
                                <span class="tag"><a href="#">Science</a></span>
                            </div>
                        </div>

                        <h2 class="title">I will touch upon the Intrinsic and germane type as think that these are the most applicable to UX design.</h2>

                        <div class="blog-details-description">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and crambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                            <blockquote class="blockquote">
                                <i class="flaticon-left-quote"></i>
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and</p>
                                <img class="shape" src="assets/images/shape/shape-7.png" alt="">
                            </blockquote>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and crambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                            <h3>I will touch upon the Intrinsic and germanen type as think that these are the most applicable to UX design.</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                            <div class="details-img">
                                <div class="dec-img">
                                    <img src="assets/images/blog/dec-img1.jpg" alt="">
                                </div>
                                <div class="dec-img">
                                    <img src="assets/images/blog/dec-img2.jpg" alt="">
                                </div>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>

                        </div>

                        <div class="blog-details-tags-social">
                            <div class="blog-details-label">
                                <h4 class="label">Tags:</h4>
                                <ul class="tag-list">
                                    <li><a href="#">Nutrition</a></li>
                                    <li><a href="#">Fitness</a></li>
                                    <li><a href="#">Health</a></li>
                                </ul>
                            </div>

                            <div class="blog-details-label">
                                <h4 class="label">Share:</h4>
                                <ul class="social">
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-skype"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Blog Details Wrapper End -->

                    <!-- Blog Details Comment End -->
                    <div class="blog-details-comment">
                        <div class="comment-wrapper">
                            <h3 class="title">Comments (03)</h3>

                            <ul class="comment-items">
                                <li>
                                    <!-- Single Comment Start -->
                                    <div class="single-comment">
                                        <div class="comment-author">
                                            <div class="author-thumb">
                                                <img src="assets/images/author/author-01.jpg" alt="Author">
                                            </div>
                                            <div class="author-content">
                                                <h4 class="name">Sara Alexander</h4>
                                                <span class="designation">Designer, USA</span>
                                            </div>
                                        </div>
                                        <p>Lorem Ipsum has been the industry's standard dummy text since the 1500 when unknown printer took a galley type and scrambled to make type specimen’s book has survived not five centuries but also the leap into electronic type and book.</p>
                                        <a href="#" class="reply"> <i class="icofont-reply"></i> Reply</a>
                                    </div>
                                    <!-- Single Comment End -->

                                    <ul class="comment-reply">
                                        <li>
                                            <!-- Single Comment Start -->
                                            <div class="single-comment">
                                                <div class="comment-author">
                                                    <div class="author-thumb">
                                                        <img src="assets/images/author/author-03.jpg" alt="Author">
                                                    </div>
                                                    <div class="author-content">
                                                        <h4 class="name">Robert Morgan</h4>
                                                        <span class="designation">Designer, USA</span>
                                                    </div>
                                                </div>
                                                <p>Lorem Ipsum has been the industry's standard dumm text since the 1500 when printer took a galley type and scrambled to make type specimen book survived centuries but also the electronic type and book.</p>
                                                <a href="#" class="reply"> <i class="icofont-reply"></i> Reply</a>
                                            </div>
                                            <!-- Single Comment End -->
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <!-- Single Comment Start -->
                                    <div class="single-comment">
                                        <div class="comment-author">
                                            <div class="author-thumb">
                                                <img src="assets/images/author/author-07.jpg" alt="Author">
                                            </div>
                                            <div class="author-content">
                                                <h4 class="name">Rochelle Hunt</h4>
                                                <span class="designation">Designer, USA</span>
                                            </div>
                                        </div>
                                        <p>Lorem Ipsum has been the industry's standard dummy text since the 1500 when unknown printer took a galley type and scrambled to make type specimen’s book has survived not five centuries but also the leap into electronic type and book.</p>
                                        <a href="#" class="reply"> <i class="icofont-reply"></i> Reply</a>
                                    </div>
                                    <!-- Single Comment End -->
                                </li>
                            </ul>
                        </div>
                        <div class="comment-form">
                            <h3 class="title">Leave a comment</h3>

                            <!-- Form Wrapper Start -->
                            <div class="form-wrapper">
                                <form action="#">
                                    <div class="row gx-3">
                                        <div class="col-md-6">
                                            <!-- Form Wrapper Start -->
                                            <div class="single-form">
                                                <input type="text" placeholder="Name">
                                            </div>
                                            <!-- Form Wrapper End -->
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Form Wrapper Start -->
                                            <div class="single-form">
                                                <input type="email" placeholder="Email">
                                            </div>
                                            <!-- Form Wrapper End -->
                                        </div>
                                        <div class="col-md-12">
                                            <!-- Form Wrapper Start -->
                                            <div class="single-form">
                                                <textarea placeholder="Massage"></textarea>
                                            </div>
                                            <!-- Form Wrapper End -->
                                        </div>
                                        <div class="col-md-12">
                                            <!-- Form Wrapper Start -->
                                            <div class="single-form text-center">
                                                <button class="btn btn-secondary btn-hover-primary">Submit Now</button>
                                            </div>
                                            <!-- Form Wrapper End -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Form Wrapper End -->
                        </div>
                    </div>
                    <!-- Blog Details Comment End -->

                </div>
                <div class="col-lg-4">

                    <!-- Blog Sidebar Start -->
                    <div class="sidebar">

                        <!-- Sidebar Widget Search Start -->
                        <div class="sidebar-widget widget-search">
                            <form action="#">
                                <input type="text" placeholder="Search here">
                                <button><i class="icofont-search-1"></i></button>
                            </form>
                        </div>
                        <!-- Sidebar Widget Search End -->

                        <!-- Sidebar Widget Category Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Post Category</h4>

                            <div class="widget-category">
                                <ul class="category-list">
                                    <li><a href="#">UI/UX Design <span>(16)</span></a></li>
                                    <li><a href="#">Creative Writing <span>(03)</span></a></li>
                                    <li><a href="#">Graphic Design <span>(08)</span></a></li>
                                    <li><a href="#">Fine Arts <span>(18)</span></a></li>
                                    <li><a href="#">Business Analytics <span>(02)</span></a></li>
                                    <li><a href="#">Marketing <span>(14)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Category End -->

                        <!-- Sidebar Widget Post Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Recent Post</h4>

                            <div class="widget-post">
                                <ul class="post-items">
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-02.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Create Amazing Color Schemes Design</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-03.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Data Science Machine Learning with Python</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-04.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Leadership: Strategies for Business</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    <li>
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a routerLink="/blog-details/blog-details-left-sidebar"><img src="assets/images/blog/blog-05.jpg" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a routerLink="/blog-details/blog-details-left-sidebar">Illustrating Badges & Geometric Shapes</a></h5>
                                                <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Post End -->

                        <!-- Sidebar Widget Tags Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Popular Tags</h4>

                            <div class="widget-tags">
                                <ul class="tags-list">
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Tags End -->

                        <!-- Sidebar Widget Share Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Share Course:</h4>

                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-skype"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <!-- Sidebar Widget Share End -->

                    </div>
                    <!-- Blog Sidebar End -->

                </div>
            </div>
        </div>
        <!-- Blog Wrapper End -->

    </div>
</div>
<!-- Blog Post Section End -->

<!-- Download Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Download Wrapper Start -->
        <div class="download-wrapper">

            <img class="shape-01" src="assets/images/shape/shape-7.png" alt="Shape">
            <img class="shape-02" src="assets/images/shape/shape-8.png" alt="Shape">

            <!-- Section Title Start -->
            <div class="section-title shape-none">
                <h6 class="sub-title">mobile app available</h6>
                <h2 class="main-title">Download our mobile <br> app. and start coaching anytime.</h2>
            </div>
            <!-- Section Title End -->

            <!-- download App End -->
            <div class="download-app">
                <ul>
                    <li><a href="#"><img src="assets/images/play-store.jpg" alt="Play Store"></a></li>
                    <li><a href="#"><img src="assets/images/app-store.jpg" alt="App Store"></a></li>
                </ul>
            </div>
            <!-- download App End -->

        </div>
        <!-- Download Wrapper End -->

    </div>
</div>
<!-- Download Section End -->