 <!-- Courses Admin Start -->
 <div class="section overflow-hidden position-relative" id="wrapper">

    <!-- Sidebar Wrapper Start -->
    <div class="sidebar-wrapper">
        <div class="menu-list">
            <a class="active" routerLink="/pages/courses-admin"><img src="assets/images/menu-icon/icon-1.png" alt="Icon"></a>
            <a routerLink="/pages/messages"><img src="assets/images/menu-icon/icon-2.png" alt="Icon"></a>
            <a routerLink="/pages/overview"><img src="assets/images/menu-icon/icon-3.png" alt="Icon"></a>
            <a routerLink="/pages/engagement"><img src="assets/images/menu-icon/icon-4.png" alt="Icon"></a>
            <a routerLink="/pages/traffic-conversion"><img src="assets/images/menu-icon/icon-5.png" alt="Icon"></a>
        </div>
    </div>
    <!-- Sidebar Wrapper End -->

    <div class="page-content-wrapper py-0">

        <!-- Admin Tab Menu Start -->
        <div class="nav flex-column nav-pills admin-tab-menu">
            <a routerLink="/pages/overview">Overview</a>
            <a routerLink="/pages/students">Student’s</a>
            <a routerLink="/pages/reviews">Review’s</a>
            <a routerLink="/pages/engagement">Course Engagement</a>
            <a routerLink="/pages/traffic-conversion" class="active">Traffic & Conversion</a>
        </div>
        <!-- Admin Tab Menu End -->

        <!-- Page Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="container-fluid">

                <!-- Admin Top Bar Start -->
                <div class="admin-top-bar d-flex flex-wrap">
                    <div class="courses-select">
                        <select>
                            <option data-display="All Courses">All Courses</option>
                            <option value="1">option</option>
                            <option value="2">option</option>
                            <option value="3">option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div>

                    <div class="months-select">
                        <select>
                            <option data-display="Last 12 months">Last 12 months</option>
                            <option value="1">Last 6 months</option>
                            <option value="1">Last 3 months</option>
                            <option value="1">Last 2 months</option>
                            <option value="1">Last 1 months</option>
                            <option value="1">Last 1 week</option>
                        </select>
                    </div>
                </div>
                <!-- Admin Top Bar End -->

                <!-- Message Start -->
                <div class="message mt-5">
                    <div class="message-icon">
                        <img src="assets/images/menu-icon/icon-6.png" alt="">
                    </div>
                    <div class="message-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                    </div>
                </div>
                <!-- Message End -->

                <!-- Engagement Courses End -->
                <div class="engagement-courses table-responsive">

                    <div class="courses-top">
                        <ul>
                            <li>All Course’s</li>
                            <li>Minutes Taught</li>
                            <li>Active Student’s</li>
                        </ul>
                    </div>

                    <div class="courses-list">
                        <ul>
                            <li>
                                <div class="courses">
                                    <div class="thumb">
                                        <img src="assets/images/courses/admin-courses-01.jpg" alt="Courses">
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="#">Hacking Exercise for Health, New Science of Fitness </a></h4>
                                    </div>
                                </div>
                                <div class="taught">
                                    <span>11,001</span>
                                </div>
                                <div class="student">
                                    <span>520</span>
                                </div>
                                <div class="button">
                                    <a class="btn btn-light btn-hover-secondary" href="#">View Details</a>
                                </div>
                            </li>
                            <li>
                                <div class="courses">
                                    <div class="thumb">
                                        <img src="assets/images/courses/admin-courses-01.jpg" alt="Courses">
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="#">Designing Your Personsl Weight Loss Plan</a></h4>
                                    </div>
                                </div>
                                <div class="taught">
                                    <span>11,001</span>
                                </div>
                                <div class="student">
                                    <span>520</span>
                                </div>
                                <div class="button">
                                    <a class="btn btn-light btn-hover-secondary" href="#">View Details</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Engagement Courses End -->

            </div>
        </div>
        <!-- Page Content Wrapper End -->

    </div>

</div>
<!-- Courses Admin End -->
