<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section" style="background-image: url(/assets/images/dentist/Default_team_of_doctors_and_assistants_of_dentists_cabinet_2.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">Contact Us</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Contact Map Start -->
<div class="section section-padding-02">
    <div class="container">

        <!-- Contact Map Wrapper Start -->
        <div class="contact-map-wrapper">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
        <!-- Contact Map Wrapper End -->

    </div>
</div>
<!-- Contact Map End -->

<!-- Contact Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Contact Wrapper Start -->
        <div class="contact-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Contact Content Start -->
                    <div class="contact-content">

                        <!-- Contact Title Start -->
                        <div class="contact-title">
                            <h4 class="sub-title">Don’t worry!</h4>
                            <h2 class="main-title">If you have any query? Contact with us.</h2>
                        </div>
                        <!-- Contact Title End -->

                        <!-- Contact Form Start -->
                        <div class="contact-form">
                            <form id="contact-form" action="assets/php/contact.php" method="POST">
                                <div class="row gx-3">
                                    <div class="col-md-6">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input name="name" type="text" placeholder="Name">
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input name="email" type="email" placeholder="Email">
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input name="phone" type="text" placeholder="Phone">
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input name="address" type="text" placeholder="Address">
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                    <div class="col-md-12">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                    <p class="form-message"></p>
                                    <div class="col-md-12">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <button type="submit" class="btn btn-secondary btn-hover-primary">Submit Now</button>
                                        </div>
                                        <!-- Single Form End -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Contact Form End -->

                    </div>
                    <!-- Contact Content End -->
                </div>
                <div class="col-lg-6">
                    <!-- Contact Information Start -->
                    <div class="contact-information">
                        <div class="information-wrapper">

                            <img class="shape" src="assets/images/shape/shape-11.png" alt="">

                            <div class="single-info">
                                <h3 class="info-title">Phone:</h3>

                                <p>(765) 388-2142</p>
                                <p>(304) 855-3859</p>
                            </div>
                            <div class="single-info">
                                <h3 class="info-title">Email:</h3>

                                <p>example@gmail.com</p>
                                <p>yourmail@gmail.com</p>
                            </div>
                            <div class="single-info">
                                <h3 class="info-title">Address:</h3>

                                <p>1229 Roma Ct San Jacinto, California(CA), 92583</p>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Information End -->
                </div>
            </div>
        </div>
        <!-- Contact Wrapper End -->

    </div>
</div>
<!-- Contact Section End -->

<!-- Download App Start -->

<div class="section section-padding download-section">

    <img class="shape-01" src="assets/images/shape/shape-7.png" alt="Shape">
    <img class="shape-02" src="assets/images/shape/shape-8.png" alt="Shape">

    <div class="container">

        <!-- Download App Wrapper Start -->
        <div class="download-app-wrapper">

            <!-- Section Title Start -->
            <div class="section-title shape-none">
                <h6 class="sub-title">mobile app available</h6>
                <h2 class="main-title">Download mobile app. and start class anytime.</h2>
            </div>
            <!-- Section Title End -->

            <!-- Download App Button End -->
            <div class="download-app-btn">
                <ul class="app-btn">
                    <li><a href="#"><img src="assets/images/play-store.jpg" alt="Play Store"></a></li>
                    <li><a href="#"><img src="assets/images/app-store.jpg" alt="App Store"></a></li>
                </ul>
            </div>
            <!-- Download App Button End -->

        </div>
        <!-- Download App Wrapper End -->

    </div>
</div>
<!-- Download App End -->