 <!-- Courses Admin Start -->
 <div class="section overflow-hidden position-relative" id="wrapper">

    <!-- Sidebar Wrapper Start -->
    <div class="sidebar-wrapper">
        <div class="menu-list">
            <a class="active" routerLink="/pages/courses-admin"><img src="assets/images/menu-icon/icon-1.png" alt="Icon"></a>
            <a routerLink="/pages/messages"><img src="assets/images/menu-icon/icon-2.png" alt="Icon"></a>
            <a routerLink="/pages/overview"><img src="assets/images/menu-icon/icon-3.png" alt="Icon"></a>
            <a routerLink="/pages/engagement"><img src="assets/images/menu-icon/icon-4.png" alt="Icon"></a>
            <a routerLink="/pages/traffic-conversion"><img src="assets/images/menu-icon/icon-5.png" alt="Icon"></a>
        </div>
    </div>
    <!-- Sidebar Wrapper End -->

    <div class="page-content-wrapper py-0">

        <!-- Admin Tab Menu Start -->
        <div class="nav flex-column nav-pills admin-tab-menu">
            <a routerLink="/pages/overview">Overview</a>
            <a routerLink="/pages/students">Student’s</a>
            <a routerLink="/pages/reviews" class="active">Review’s</a>
            <a routerLink="/pages/engagement">Course Engagement</a>
            <a routerLink="/pages/traffic-conversion">Traffic & Conversion</a>
        </div>
        <!-- Admin Tab Menu End -->

        <!-- Page Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="container-fluid">

                <!-- Admin Top Bar Start -->
                <div class="admin-top-bar flex-wrap">

                    <div class="top-bar-filter">
                        <ul class="filter-check">
                            <li>
                                <div class="courses-select">
                                    <select>
                                        <option data-display="All Courses">All Courses</option>
                                        <option value="1">option</option>
                                        <option value="2">option</option>
                                        <option value="3">option</option>
                                        <option value="4">Potato</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <input type="checkbox" id="answered">
                                <label for="answered"><span></span> Not Answered</label>
                            </li>
                            <li>
                                <input type="checkbox" id="comment">
                                <label for="comment"><span></span> Comment</label>
                            </li>
                            <li>
                                <label>Rating:</label>
                                <div class="rating-select">
                                    <select>
                                        <option data-display="All">All</option>
                                        <option value="1">5 Start</option>
                                        <option value="2">4 Start</option>
                                        <option value="3">3 Start</option>
                                        <option value="4">2 Start</option>
                                        <option value="5">1 Start</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="top-bar-filter-right">
                        <div class="newest-select">
                            <select>
                                <option data-display="Newest First">Newest First</option>
                                <option value="1">Oldest First</option>
                            </select>
                        </div>
                        <div class="filter-btn">
                            <a href="#" class="btn btn-primary btn-hover-secondary">Export to CSV</a>
                        </div>
                    </div>
                </div>
                <!-- Admin Top Bar End -->

                <!-- Message Start -->
                <div class="message mt-5">
                    <div class="message-icon">
                        <img src="assets/images/menu-icon/icon-6.png" alt="">
                    </div>
                    <div class="message-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                    </div>
                </div>
                <!-- Message End -->

                <!-- Courses Rating Wrapper Start -->
                <div class="courses-rating-wrapper">

                    <!-- Single Courses Rating Start -->
                    <div class="single-courses-rating">

                        <!-- Courses Start -->
                        <div class="courses">
                            <div class="courses-thumb">
                                <a href="#"><img src="assets/images/courses/admin-courses-01.jpg" alt="Courses"></a>
                            </div>
                            <div class="courses-content">
                                <h4 class="title"><a href="#">Build An eCommerce Site With WooCommerce and WooLentor.</a></h4>
                                <div class="average-rating">
                                    <span class="label">Course Rating:</span>
                                    <span class="count">
                                            4.5 

                                            <span class="rating-star">
                                                <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="courses-btn">
                                <a class="btn" href="#">View Summary</a>
                            </div>
                        </div>
                        <!-- Courses End -->

                        <!-- Rating Start -->
                        <div class="rating">
                            <div class="rating-author">
                                <img src="assets/images/author/author-12.jpg" alt="Author">
                            </div>
                            <div class="rating-content">
                                <h4 class="name">Natosha Sibley</h4>
                                <span class="date">Updated: March 28, 2021</span>

                                <div class="average-rating">
                                    <span class="rating-star">
                                            <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>

                                <a href="#" class="btn">Respond</a>
                            </div>
                            <a class="waving" href="#"><i class="flaticon-waving-flag"></i></a>
                        </div>
                        <!-- Rating End -->

                    </div>
                    <!-- Single Courses Rating End -->

                    <!-- Single Courses Rating Start -->
                    <div class="single-courses-rating">

                        <!-- Courses Start -->
                        <div class="courses">
                            <div class="courses-thumb">
                                <a href="#"><img src="assets/images/courses/admin-courses-01.jpg" alt="Courses"></a>
                            </div>
                            <div class="courses-content">
                                <h4 class="title"><a href="#">Build An WholeSale WooCommerce Store using Whols Plugin</a></h4>
                                <div class="average-rating">
                                    <span class="label">Course Rating:</span>
                                    <span class="count">
                                            4.5 

                                            <span class="rating-star">
                                                <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="courses-btn">
                                <a class="btn" href="#">View Summary</a>
                            </div>
                        </div>
                        <!-- Courses End -->

                        <!-- Rating Start -->
                        <div class="rating">
                            <div class="rating-author">
                                <img src="assets/images/author/author-13.jpg" alt="Author">
                            </div>
                            <div class="rating-content">
                                <h4 class="name">Clarine Sander</h4>
                                <span class="date">Updated: March 28, 2021</span>

                                <div class="average-rating">
                                    <span class="rating-star">
                                            <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>

                                <a href="#" class="btn">Respond</a>
                            </div>
                            <a class="waving" href="#"><i class="flaticon-waving-flag"></i></a>
                        </div>
                        <!-- Rating End -->

                    </div>
                    <!-- Single Courses Rating End -->

                    <!-- Single Courses Rating Start -->
                    <div class="single-courses-rating">

                        <!-- Courses Start -->
                        <div class="courses">
                            <div class="courses-thumb">
                                <a href="#"><img src="assets/images/courses/admin-courses-01.jpg" alt="Courses"></a>
                            </div>
                            <div class="courses-content">
                                <h4 class="title"><a href="#">Build An WholeSale WooCommerce Store using Whols Plugin</a></h4>
                                <div class="average-rating">
                                    <span class="label">Course Rating:</span>
                                    <span class="count">
                                            4.5 

                                            <span class="rating-star">
                                                <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="courses-btn">
                                <a class="btn" href="#">View Summary</a>
                            </div>
                        </div>
                        <!-- Courses End -->

                        <!-- Rating Start -->
                        <div class="rating">
                            <div class="rating-author">
                                <img src="assets/images/author/author-14.jpg" alt="Author">
                            </div>
                            <div class="rating-content">
                                <h4 class="name">Gaylene Klinger</h4>
                                <span class="date">Updated: March 28, 2021</span>

                                <div class="average-rating">
                                    <span class="rating-star">
                                            <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>

                                <a href="#" class="btn">Respond</a>
                            </div>
                            <a class="waving" href="#"><i class="flaticon-waving-flag"></i></a>
                        </div>
                        <!-- Rating End -->

                    </div>
                    <!-- Single Courses Rating End -->

                    <!-- Single Courses Rating Start -->
                    <div class="single-courses-rating">

                        <!-- Courses Start -->
                        <div class="courses">
                            <div class="courses-thumb">
                                <a href="#"><img src="assets/images/courses/admin-courses-01.jpg" alt="Courses"></a>
                            </div>
                            <div class="courses-content">
                                <h4 class="title"><a href="#">Build An eCommerce Site With WooCommerce and WooLentor.</a></h4>
                                <div class="average-rating">
                                    <span class="label">Course Rating:</span>
                                    <span class="count">
                                            4.5 

                                            <span class="rating-star">
                                                <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="courses-btn">
                                <a class="btn" href="#">View Summary</a>
                            </div>
                        </div>
                        <!-- Courses End -->

                        <!-- Rating Start -->
                        <div class="rating">
                            <div class="rating-author">
                                <img src="assets/images/author/author-15.jpg" alt="Author">
                            </div>
                            <div class="rating-content">
                                <h4 class="name">Shawnda Hinds</h4>
                                <span class="date">Updated: March 28, 2021</span>

                                <div class="average-rating">
                                    <span class="rating-star">
                                            <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>

                                <a href="#" class="btn">Respond</a>
                            </div>
                            <a class="waving" href="#"><i class="flaticon-waving-flag"></i></a>
                        </div>
                        <!-- Rating End -->

                    </div>
                    <!-- Single Courses Rating End -->

                </div>
                <!-- Courses Rating Wrapper End -->

            </div>
        </div>
        <!-- Page Content Wrapper End -->

    </div>

</div>
<!-- Courses Admin End -->