<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">My Course</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerlink="/home">Home</a></li>
                <li class="breadcrumb-item active">Course</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Courses Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Courses Category Wrapper Start  -->
        <div class="courses-category-wrapper">
            <div class="courses-search search-2">
                <input type="text" placeholder="Search here">
                <button><i class="icofont-search"></i></button>
            </div>

            <ul class="category-menu">
                <li><a class="active" href="#">All Courses</a></li>
                <li><a href="#">Collections</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Archived</a></li>
            </ul>
        </div>
        <!-- Courses Category Wrapper End  -->

        <!-- Courses Wrapper Start  -->
        <div class="courses-wrapper-02">
            <div class="row gx-xxl-5">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses-02">
                        <div class="courses-images">
                            <a routerLink="/courses-details/courses-details-left-sidebar"><img src="assets/images/courses/courses-1.jpg" alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <p class="author">By: <a href="#"> Ryan Patterson</a></p>

                            <h4 class="title"><a routerLink="/courses-details/courses-details-left-sidebar">Children Nutrition and Cooking</a></h4>

                            <div class="courses-rating">
                                <p>38% Complete</p>

                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 38%;"></div>
                                </div>

                                <div class="rating-meta">
                                    <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    <p>Your rating</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses-02">
                        <div class="courses-images">
                            <a routerLink="/courses-details/courses-details-left-sidebar"><img src="assets/images/courses/courses-2.jpg" alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <p class="author">By: <a href="#">Arlene Daniels</a></p>

                            <h4 class="title"><a routerLink="/courses-details/courses-details-left-sidebar">Introduction to Food and Health. </a></h4>

                            <div class="courses-rating">
                                <p>80% Complete</p>

                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 80%;"></div>
                                </div>

                                <div class="rating-meta">
                                    <span class="rating-star">
                                    <span class="rating-bar" style="width: 0%;"></span>
                                    </span>
                                    <p><a href="#">Leave a rating</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses-02">
                        <div class="courses-images">
                            <a routerLink="/courses-details/courses-details-left-sidebar"><img src="assets/images/courses/courses-3.jpg" alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <p class="author">By: <a href="#"> Selina Benton</a></p>

                            <h4 class="title"><a routerLink="/courses-details/courses-details-left-sidebar">Nutrition and Lifestyle in Pregnancy</a></h4>

                            <div class="courses-rating">
                                <p>15% Complete</p>

                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 15%;"></div>
                                </div>

                                <div class="rating-meta">
                                    <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    <p>Your rating</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses-02">
                        <div class="courses-images">
                            <a routerLink="/courses-details/courses-details-left-sidebar"><img src="assets/images/courses/courses-4.jpg" alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <p class="author">By: <a href="#"> Ryan Patterson</a></p>

                            <h4 class="title"><a routerLink="/courses-details/courses-details-left-sidebar">Expertise on Fitness, Nutrition and Health</a></h4>

                            <div class="courses-rating">
                                <p>45% Complete</p>

                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 45%;"></div>
                                </div>

                                <div class="rating-meta">
                                    <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    <p>Your rating</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses-02">
                        <div class="courses-images">
                            <a routerLink="/courses-details/courses-details-left-sidebar"><img src="assets/images/courses/courses-5.jpg" alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <p class="author">By: <a href="#">Arlene Daniels</a></p>

                            <h4 class="title"><a routerLink="/courses-details/courses-details-left-sidebar">Hacking exercise for health new science of fitness</a></h4>

                            <div class="courses-rating">
                                <p>38% Complete</p>

                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 38%;"></div>
                                </div>

                                <div class="rating-meta">
                                    <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    <p>Your rating</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
            </div>
        </div>
        <!-- Courses Wrapper End  -->

    </div>
</div>
<!-- Courses End -->

<!-- Download App Start -->
<div class="section section-padding download-section">

    <img class="shape-01" src="assets/images/shape/shape-7.png" alt="Shape">
    <img class="shape-02" src="assets/images/shape/shape-8.png" alt="Shape">

    <div class="container">

        <!-- Download App Wrapper Start -->
        <div class="download-app-wrapper">

            <!-- Section Title Start -->
            <div class="section-title shape-none">
                <h6 class="sub-title">mobile app available</h6>
                <h2 class="main-title">Download mobile app. and start class anytime.</h2>
            </div>
            <!-- Section Title End -->

            <!-- Download App Button End -->
            <div class="download-app-btn">
                <ul class="app-btn">
                    <li><a href="#"><img src="assets/images/play-store.jpg" alt="Play Store"></a></li>
                    <li><a href="#"><img src="assets/images/app-store.jpg" alt="App Store"></a></li>
                </ul>
            </div>
            <!-- Download App Button End -->

        </div>
        <!-- Download App Wrapper End -->

    </div>
</div>
<!-- Download App End -->
