<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section" style="background-image: url(assets/images/dentist/Default_dentiste_fait_un_traitement_pour_un_patient_dans_un_ca_0.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">About Us</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- About Section Start -->
<div class="section section-padding overflow-hidden">
    <div class="container">

        <!-- About Wrapper Start -->
        <div class="about-wrapper">
            <div class="row align-items-center gx-xxl-5">
                <div class="col-lg-5">
                    <!-- About Images Start -->
                    <div class="about-images">
                        <img src="assets/images/shape/shape-2.png" alt="shape" class="shape">
                        <div class="images">
                            <img  class = "dentist" src="assets/images/dentist/Default_imageris_dentaire_pour_un_dentiste_1 (1).jpg" alt="About">
                        </div>
                        <div class="about-btn">
                            <a href="/about" class="btn btn-primary btn-hover-secondary">Meet Instructor</a>
                        </div>
                    </div>
                    <!-- About Images End -->
                </div>
                <div class="col-lg-7">
                    <!-- About Content Start -->
                    <div class="about-content bg-grey">
                        <img class="shape" src="assets/images/shape/shape-1.png" alt="shape">
                        <div class="content-wrapper">
                            <h6 class="sub-title"> years of experience</h6>
                            <h2 class="main-title">We have expert instructors to help with dental clinic management.</h2>
                            <p>At our dental clinic management center, we provide comprehensive training and guidance on various aspects of running a successful dental practice. Our team of instructors brings extensive experience in dental clinic management, covering every aspect from patient care to administrative tasks.</p>
                            <span class="count">100+ Experts</span>
                           <p> Elevate your dental practice management with us! From optimizing patient care to maximizing efficiency in billing and staff management, we've got you covered. Join now to unlock the skills and knowledge needed to excel in running a successful dental clinic.</p>
                          </div>
                    </div>
                    <!-- About Content End -->
                </div>
            </div>
        </div>
        <!-- About Wrapper End -->

    </div>
</div>
<!-- About Section End -->

<!-- Our Mission & Vission Section Start -->
<div class="section section-padding bg-grey">
    <div class="container">

        <!-- Our Mission Wrapper Start -->
        <div class="our-mission-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <h4 class="sub-title">Our Mission & Vission</h4>
                        <h2 class="main-title">chirurgien Dentiste : Your Partner in Dental Health </h2>
                        <p>At chirurgien Dentiste, our mission is to provide exceptional dental care tailored to each patient's needs. We strive to enhance oral health and overall well-being through personalized treatment plans and compassionate care.</p>
                        <p>With a commitment to excellence and innovation, we aim to be a leader in dental health services, ensuring access to high-quality care for all. Join us in our journey to promote healthy smiles and vibrant lives!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-list">
                        <ul>
                            <li>Efficient dental procedures designed for optimal patient care.</li>
                            <li>Continuous improvement and adaptation to evolving industry standards.</li>
                            <li>Streamlined processes for enhanced practice management and workflow.</li>
                        </ul>
                        <a class="btn btn-primary btn-hover-secondary" routerLink="/about">All Staff’</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Mission Wrapper End -->

    </div>
</div>
<!-- Our Mission & Vission Section End -->

<!-- Instructor Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title">
            <h6 class="sub-title">Communication with Clinic Staff</h6>
            <h2 class="main-title">Clinic Staff Interaction</h2>
        </div>
        <!-- Section Title End -->

        <!-- Instructor Wrapper Start -->
        <div class="instructor-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Instructor Start -->
                    <div class="single-instructor">
                        <div class="instructor-images">
                            <img class="img1" src="assets/images/dentist/Default_dentiste_dans_son_cabinet_dentaire_en_image_vertical_2.jpg" alt="">
                        </div>
                        <div class="instructor-content">
                            <div class="social">
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-skype"></i></a>
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </div>
                            <p class="designation">Founder</p>
                            <h3 class="name">Your Name</h3>
                        </div>
                    </div>
                    <!-- Single Instructor End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Instructor Start -->
                    <div class="single-instructor">
                        <div class="instructor-images">
                            <img class="img2" src="assets/images/dentist/Default_dentiste_dans_son_cabinet_dentaire_en_image_vertical_1.jpg" alt="">
                        </div>
                        <div class="instructor-content">
                            <div class="social">
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-skype"></i></a>
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </div>
                            <p class="designation">Founder</p>
                            <h3 class="name">Your Name</h3>
                        </div>
                    </div>
                    <!-- Single Instructor End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Instructor Start -->
                    <div class="single-instructor">
                        <div class="instructor-images">
                            <img class="img3" src="assets/images/dentist/Default_dentiste_dans_son_cabinet_dentaire_en_image_vertical_2 (2).jpg" alt="">
                        </div>
                        <div class="instructor-content">
                            <div class="social">
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-skype"></i></a>
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </div>
                            <p class="designation">Founder</p>
                            <h3 class="name">Your Name </h3>
                        </div>
                    </div>
                    <!-- Single Instructor End -->
                </div>
            </div>
        </div>
        <!-- Instructor Wrapper End -->

        <!-- Instructor Button End -->
        <div class="instructor-btn">
            <a routerLink="/about" class="btn btn-primary btn-hover-secondary">Join With Us</a>
        </div>
        <!-- Instructor Button End -->

    </div>
</div>
<!-- Instructor Section End -->

<!-- Testimonial Section Start -->
<div class="section section-padding testimonial-section testimonial-active">

    <img class="shape-01 animation-down" src="assets/images/shape/shape-5.png" alt="Shape">
    <img class="shape-02 animation-up" src="assets/images/shape/shape-6.png" alt="Shape">

    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title section-title-white">
            <h6 class="sub-title">happy Patients</h6>
            <h2 class="main-title">What Client Say About Us</h2>
        </div>
        <!-- Section Title End -->

        <!-- Testimonial Wrapper End -->
        <div class="testimonial-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <img src="assets/images/author/author-01.jpg" alt="Author">
                            <i class="flaticon-left-quote"></i>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                        <h4 class="name">Pollock Austin</h4>
                        <span class="designation">UI/UX DESIGNER</span>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <img src="assets/images/author/author-02.jpg" alt="Author">
                            <i class="flaticon-left-quote"></i>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                        <h4 class="name">Pollock Austin</h4>
                        <span class="designation">UI/UX DESIGNER</span>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <img src="assets/images/author/author-03.jpg" alt="Author">
                            <i class="flaticon-left-quote"></i>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                        <h4 class="name">Pollock Austin</h4>
                        <span class="designation">UI/UX DESIGNER</span>
                    </div>
                    <!-- Single Testimonial End -->

                </div>
            </div>
        </div>
        <!-- Testimonial Wrapper End -->

    </div>

    <div class="arrow">
        <div class="swiper-button-next"><i class="fa fa-long-arrow-right"></i></div>
        <div class="swiper-button-prev"><i class="fa fa-long-arrow-left"></i></div>
    </div>

</div>
<!-- Testimonial Section End -->

<!-- Brand Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Brand Wrapper Start -->
        <div class="brand-wrapper">

            <img class="shape" src="assets/images/shape/shape-12.png" alt="Shape">

            <!-- Section Title Start -->
            <div class="section-title shape-none">
                <h6 class="sub-title">Work With Trusted Brand</h6>
                <h2 class="main-title">We Have 8,00+ Trusted Partners.</h2>
                <p>Printing and typesetting standard dummy text ever since</p>
            </div>
            <!-- Section Title End -->

            <!-- Brand Logo Wrapper Start -->
            <div class="brand-logo-wrapper brand-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <!-- Single Brand Start -->
                        <div class="single-brand swiper-slide">
                            <img class="brand" src="assets/images/brand/brand-1-1.png" alt="Brand">
                            <img class="brand-hover" src="assets/images/brand/brand-2-1.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->

                        <!-- Single Brand Start -->
                        <div class="single-brand swiper-slide">
                            <img class="brand" src="assets/images/brand/brand-1-2.png" alt="Brand">
                            <img class="brand-hover" src="assets/images/brand/brand-2-2.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->

                        <!-- Single Brand Start -->
                        <div class="single-brand swiper-slide">
                            <img class="brand" src="assets/images/brand/brand-1-3.png" alt="Brand">
                            <img class="brand-hover" src="assets/images/brand/brand-2-3.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->

                        <!-- Single Brand Start -->
                        <div class="single-brand swiper-slide">
                            <img class="brand" src="assets/images/brand/brand-1-4.png" alt="Brand">
                            <img class="brand-hover" src="assets/images/brand/brand-2-4.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->

                        <!-- Single Brand Start -->
                        <div class="single-brand swiper-slide">
                            <img class="brand" src="assets/images/brand/brand-1-5.png" alt="Brand">
                            <img class="brand-hover" src="assets/images/brand/brand-2-5.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->

                    </div>
                </div>
            </div>
            <!-- Brand Logo Wrapper End -->

        </div>
        <!-- Brand Wrapper End -->

    </div>
</div>
<!-- Brand Section End -->
