.dentist {
    width: 800px; 
    height: 700px ; 
  }
  

  .img1 {
    width: 400px; 
    height: 350px; 
  }

  .img2 {
    width: 400px; 
    height: 350px; 
  }


  .img3 {
    width: 400px; 
    height: 350px; 
  }


  .instructor-btn{
  border-radius: 30px;

  }